* {
    margin: 0;
    padding: 0;
}
body{
    background: #EFEFEF;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,li {
    list-style: none;
}
hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.topNavBar {
    position: fixed;
    width: 100%;
    color: #b7b7b7;
    background: #000;
    z-index: 999;
}
.topNavBar nav > ul > li, .logo {
    float: left;
}
.clearfix::after, .topNavBar::after {
    display: block;
    content: '';
    clear: both;
}
.topNavBar_inner {
    padding: 20px 16px;
}
.topNavBar nav {
    float: right;
}
.topNavBar nav > ul > li > a {
    font-size: 12px;
    font-weight: bold;
}
.topNavBar nav > ul > li {
    margin-left: 17px;
    margin-right: 17px;
    padding: 5px 0px;
    border-bottom: 3px solid transparent;
}
.topNavBar nav > ul > li:hover {
    border-bottom: 3px solid #e06567;
}
.topNavBar .logo {
    font-size: 24px;
    font-family: Arial Black;
    font-weight: bold;
}
.topNavBar .logo > span:nth-child(1) {
    margin-left: 5px;
    color: #E6686A;
}
.topNavBar .logo > span:nth-child(2) {
    margin-left: 5px;
    color: #9A9DA2;
}
.banner {
    background-image: url('../image/bg.jpg');
    background-size: cover;
    height: 550px;
}
.banner .mask{
    height: 550px;
    background-color: rgba(0, 0, 0, 0.7);
}
/* main start */
main {
    margin-top: -380px;
}
.userCard {
    background-color: #ffffff;
    max-width: 940px;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.userCard > .pictureAndtext > .pictureAndtext_left img {
    width: 299px;
}
.userCard > .pictureAndtext > .pictureAndtext_right .welcome {
    background: #E6686A;
    color: #ffffff;
    padding: 4px 16px;
    line-height: 22px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}
.userCard > .pictureAndtext > .pictureAndtext_right .welcome .triangle {
    border: 10px solid transparent;
    border-left-color: #E6686A;
    border-top-width: 0px;
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.pictureAndtext > .pictureAndtext_left,.pictureAndtext > .pictureAndtext_right {
    float: left;
}
.pictureAndtext {
    padding: 50px;
}
.pictureAndtext_right {
    margin-left: 65px;
    width: 470px;
}
.pictureAndtext_right h1 {
    margin-top: 18px;
    font-family: KaiTi;
}
.pictureAndtext_right hr {
    margin: 20px 0;
}
.pictureAndtext_right dl dt, .pictureAndtext_right dd {
    float: left;
    padding: 5px 0;
}
.pictureAndtext_right dl dt {
    width: 30%;
    font-weight: bold;
}
.pictureAndtext_right dl dd {
    width: 70%;
}
.media {
    background : #E6686A;
    text-align: center;
}
.media > a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    text-align: center;
    margin: 16px;
}
.media > a > svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.media > a > .jian {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
main .downloadResumeWrapper {
    text-align: center;
}
main .downloadResumeWrapper > a {
    display: inline-block;
    font-size: 14px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    border-radius: 2px;
    line-height: 16px;
    transition: box-shadow 0.5s;
}
main .downloadResumeWrapper > a:hover {
    box-shadow: 0px 9px 13px -4px rgba(0,0,0,0.41);
}
main .introduction {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font-family: KaiTi;
    font-size: 18px;
    line-height: 1.8;
    font-weight: bold;
}
/* skills start */
.skills, .portfolio {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
}
.skills > h2, .portfolio > h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
.skills > ol {
    background-color: #ffffff;
    padding: 42px 50px 2px 50px;
    margin-top: 30px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.skills ol > li {
    width: 48%;
    box-sizing: border-box;
}
.skills ol > li:nth-child(odd) {
    float: left;
    padding-right: 8px;
}
.skills ol > li:nth-child(even) {
    float: right;
}
.skills ol > li > h3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
.skills ol > li > .progressBar {
    width: 100%;
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
}
.skills ol > li > .progressBar > .progress {
    width: 90%;
    height: 5px;
    background: #E6686A;
    border-radius: 2px;
}
/* portfolio start */
.portfolio {
    text-align: center;
    margin-bottom: 200px;
}
.portfolio > nav {
    text-align: center;
    display: inline-block;
    margin-top: 32px;
}
.portfolio > nav > ol {
    display: inline-block;
    vertical-align: top;
}
.portfolio > nav > ol > li {
    float: left;
    cursor: pointer;
}
.portfolio > nav > ol > li:not(:first-child) {
    margin-left: 50px;
}
.portfolio > nav > .portfolioBar {
    width: 100%;
    height: 5px;
    background: white;
    border-radius: 2px;
    margin: 5px 0 28px 0;
}
.portfolio > nav > .portfolioBar > .portfolioBarInner {
    transition: all 0.3s;
}
.portfolio > nav > .portfolioBar > .portfolioBarInner.portfolioBarAll {
    width: 20%;
    height: 5px;
    border-radius: 2px;
    background: #E6686A;
}
.portfolio > nav > .portfolioBar > .portfolioBarInner.portfolioBarFrameWork {
    width: 20%;
    height: 5px;
    border-radius: 2px;
    margin-left: 73px;
    background: #E6686A;
}
.portfolio > nav > .portfolioBar > .portfolioBarInner.portfolioBarNative {
    width: 40%;
    height: 5px;
    border-radius: 2px;
    margin-left: 160px;
    background: #E6686A;
}
.portfolio > .itemBox {
    position: relative;
    height: 597px;
}
.portfolio > .itemBox > div {
    float: left;
    position: absolute;
}
.portfolio > .itemBox > .item2,
.portfolio > .itemBox > .item3 {
    right: 0;
}
.portfolio > .itemBox > .item3 {
    bottom: 0;
}